@import "tailwindcss";


@import "swiper/css";
@import "swiper/css/pagination";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.kids-pagination .swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.8;
}

.kids-pagination .swiper-pagination-bullet-active {
  background: #ff6a00 !important;
  width: 12px;
  height: 12px;
}
