@import "tailwindcss";


@import "swiper/css";
@import "swiper/css/pagination";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
  line-height: 1.2;
}

p {
  font-family: var(--font-poppins);
  line-height: 1.2;
}

.kids-pagination .swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.8;
}

.kids-pagination .swiper-pagination-bullet-active {
  background: #ff6a00 !important;
  width: 12px;
  height: 12px;
}


/* === CUSTOM WHY SKYJUMPER PAGINATION === */

/* PAGINATION WRAPPER LIKE YOUR IMAGE */
.swiper-pagination {
  background: #e7e5e5ee;
  justify-content: center;
  border-radius: 30px;
  padding: 6px 20px;
  width: fit-content;
  margin: 65px auto 15 auto !important; /* ⬅ Here is the gap */
  bottom: -10px !important;           /* Keeps it below slides */
  position: relative !important;
  display: flex;
  gap: 10px;
}


/* Inactive bullets */
.swiper-pagination-bullet {
  background: #3a3a3b !important;  /* dark gray */
  width: 8px;
  height: 8px;
  opacity: 1 !important;  
}

/* ACTIVE orange bar — EXACT LOOK */
.swiper-pagination-bullet-active {
  background: #ff6a34 !important;
  width: 18px !important;
  height: 8px !important;
  border-radius: 10px !important;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 50% !important;
}


@media (min-width: 1024px) {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 15% !important; /* The new width for desktop */
  }
}

@media (min-width: 64rem) {
    .lg\:w-full {
        width: 98% !important;
    }
}



